@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h3 {
  font-size: 30px;
  line-height: 36px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h5 {
  font-size: 16px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* top navbar */
.top-navbar {
  display: flex;
  justify-content: space-between;
}
.top-navbar p {
  margin-top: 13px;
  margin-left: 15px;
}
.top-navbar .icons {
  margin-top: 13px;
  margin-right: 15px;
}
.top-navbar a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.top-navbar a img {
  margin-bottom: 3px;
}
.top-navbar a:hover {
  color: black;
}
@media screen and (max-width: 400px) {
  .top-navbar a {
    font-size: 13px;
  }
  .top-navbar a img {
    width: 15px;
  }
  .top-navbar p {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  .top-navbar a {
    font-size: 10px;
  }
  .top-navbar a img {
    width: 13px;
  }
  .top-navbar p {
    font-size: 10px;
  }
}
@media screen and (max-width: 318px) {
  .top-navbar a {
    font-size: 8px;
    margin-left: 0;
  }
  .top-navbar a img {
    width: 10px;
    margin-left: 0;
  }
  .top-navbar p {
    font-size: 10px;
    margin-top: 20px;
  }
}
/* top navbar */

/* navbar */
#navbar {
  background-color: #e5e7e9;
  height:83px;
  overflow:visible;

}
#logo {
  margin-left: 15px;
  color: #212f3d;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}
#logo span {
  color: #212f3d;
}
#logo #span1 {
  font-size: 30px;
}
.logo-img {
  height: 50px;
  margin-right: 10px;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-item {
  margin-left: 10px;
}
.nav-item .nav-link {
  color: #212f3d;
  margin-left: 2px;
  text-shadow: 0px 0px 1px black;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover {
  color: #212f3d;
}
.dropdown-menu li a {
  color: white;
  transition: 0.5s ease;
}

/*
#search input {
  border-radius: 50px;
  border: none;
}
#search button {
  border-radius: 50px;
  color: white;
  border: 1px solid #212f3d;
  background-color: #212f3d;
}*/

.searchsectionwrappernav {
  display: flex;
  justify-content: center; 
  margin-right: 20px;
}


.searchsectionnav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 280px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: all 0.3s ease;
}

.searchsectionnav form {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}


.searchsectionnav img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.searchsectionnav input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  background: transparent; 
}

.searchsectionnav input::placeholder {
  color: white;
}


.optionboxnav {
  display: none;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
}

.searchsectionnav:focus-within .optionbox {
  display: block;
}

.optionboxnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.optionboxnav ul li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
}

.optionboxnav ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.optionboxnav a {
  text-decoration: none;
  color: white;
}
.optionboxnav a:hover{
  text-decoration: none;
  color: white;
}
.optionboxnav p {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
}

.cart-btn a i {
  padding-left: 10px;
  font-size: 20px;
  color: #212f3d;
  transition: color 0.3s ease;
}
.cart-btn a i:hover {
  color: gray;
}
/* navbar */

.catrgoryimages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.categorycards {
  background-color: white;
  width: 250px;
  height: 260px;
  margin: 15px;
  border-radius: 35px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in-out;
}

.cimages {
  height: 210px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}

.tvs {
  background-image: url(categoryimages/TVcategory.webp);
}
.monitors {
  background-image: url(categoryimages/Monitorycategory.webp);
}
.laptops {
  background-image: url(categoryimages/LaptopCategory.webp);
}
.headphones {
  background-image: url(categoryimages/Headphonescategory.webp);
}
.consoles {
  background-image: url(categoryimages/Consolescategory.webp);
}

.categorycards:hover {
  cursor: pointer;
  transform: scale(1.05);
}
body {
  background-image: url(categoryimages/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.searchsectionwrapper {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}


.searchsection {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 400px;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  transition: all 0.3s ease;
}

.searchsection form {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
}


.searchsection img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}


.searchsection input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  background: transparent; 
}

.searchsection input::placeholder {
  color: white;
}


.optionbox {
  display: none;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.1);
}

.searchsection:focus-within .optionbox {
  display: block;
}

.optionbox ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.optionbox ul li {
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 8px;
}

.optionbox ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}

.optionbox a {
  text-decoration: none;
  color: white;
}
.optionbox a:hover{
  text-decoration: none;
  color: white;
}
.optionbox p {
  text-align: center;
  margin: 0;
  padding: 10px;
  color: white;
  font-size: 14px;
}


/* footer */
#footer {
  padding: 0 0 30px 0px;
  color: white;
  font-size: 14px;
  background-color: #212f3d;
  margin-top: 100px;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background-color: #212f3d;
  color: white;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact h3 {
  color: #ffc800;
}
#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: white;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
  margin-top: 10px;
}
#footer .footer-top .footer-links h4 {
  color: #ffc800;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  transition: 0.5s ease;
}
#footer .footer-top .footer-links ul li a:hover {
  color: #ffc800;
}
#footer .footer-top .socail-links a {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  background-color: #373737;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  transition: 0.5s ease;
}
#footer .footer-top .socail-links a:hover {
  background-color: #ffc800;
  color: white;
}
#footer .copyright {
  text-align: center;
  float: left;
}
#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
}
#footer .credits a {
  color: #ffc800;
}
/* footer */
