@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    width: 100%;
}

/* Navbar styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navbar li {
    list-style: none;
    padding: 0 15px;
}

#Navbar li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #465b52;
    transition: 0.4s ease;
}

#Navbar li a:hover {
    color: black;
}

#Navbar li a.active {
    color: black;
}

#Navbar li a.active::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    opacity: 0;
    transition: all 0.2s;
}

#Navbar li a:hover:after {
    opacity: 1;
}
