@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    background-color: #f4f4f9;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #f0f8ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    z-index: 999;
}

#Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Navbar li {
    list-style: none;
    padding: 0 15px;
}

#Navbar li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    color: #465b52;
    transition: 0.4s ease;
}

#Navbar li a:hover {
    color: black;
}

#Navbar li a.active {
    color: black;
}

#Navbar li a.active::after {
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    opacity: 0;
    transition: all 0.2s;
}

#Navbar li a:hover:after {
    opacity: 1;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
}

footer .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
}

footer .column a {
    font-size: 14px;
    text-decoration: none;
    margin: 0;
    color: #222;
}

footer .paymentphoto {
    display: flex;
    flex-direction: row;
}

footer .paymentmethods {
    display: flex;
    gap: 10px;
    align-items: center;
}

footer h4 {
    font-size: 16px;
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
    margin: 0 0 8px 0;
}

footer .followus {
    margin-top: 20px;
}

footer .followus .icon {
    margin: 0;
    display: flex;
    gap: 15px;
}

footer .followus .icon i {
    margin-top: 0;
    font-size: 30px;
}

.contact-section {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    margin-bottom: 1rem;
    color: #333;
    font-size: 2rem;
    text-align: center;
}

.contact-section p {
    text-align: center;
    margin-bottom: 2rem;
}

form .form-group {
    margin-bottom: 1.5rem;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

form input,
form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    display: block;
    width: 100%;
    padding: 0.8rem;
    background: #007
