* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* top navbar */
.top-navbar {
  display: flex;
  justify-content: space-between;
}
.top-navbar p {
  margin-top: 13px;
  margin-left: 15px;
}
.top-navbar .icons {
  margin-top: 13px;
  margin-right: 15px;
}
.top-navbar a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
.top-navbar a img {
  margin-bottom: 3px;
}
.top-navbar a:hover {
  color: black;
}
@media screen and (max-width: 400px) {
  .top-navbar a {
    font-size: 13px;
  }
  .top-navbar a img {
    width: 15px;
  }
  .top-navbar p {
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  .top-navbar a {
    font-size: 10px;
  }
  .top-navbar a img {
    width: 13px;
  }
  .top-navbar p {
    font-size: 10px;
  }
}
@media screen and (max-width: 318px) {
  .top-navbar a {
    font-size: 8px;
    margin-left: 0;
  }
  .top-navbar a img {
    width: 10px;
    margin-left: 0;
  }
  .top-navbar p {
    font-size: 10px;
    margin-top: 20px;
  }
}
/* top navbar */

/* navbar */
#navbar {
  background-color: #e5e7e9;
}
#logo {
  margin-left: 15px;
  color: #212f3d;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 6px;
}
#logo span {
  color: #212f3d;
}
#logo #span1 {
  font-size: 30px;
}
.logo-img {
  height: 50px;
  margin-right: 10px;
}
.navbar-nav {
  margin-left: 20px;
}
.nav-item {
  margin-left: 10px;
}
.nav-item .nav-link {
  color: #212f3d;
  margin-left: 2px;
  text-shadow: 0px 0px 1px black;
  transition: 0.5s ease;
}
.nav-item .nav-link:hover {
  color: #212f3d;
}
.dropdown-menu li a {
  color: white;
  transition: 0.5s ease;
}

#search input {
  border-radius: 50px;
  border: none;
}
#search button {
  border-radius: 50px;
  color: white;
  border: 1px solid #212f3d;
  background-color: #212f3d;
}
.cart-btn a i {
  padding-left: 10px;
  font-size: 20px;
  color: #212f3d;
  transition: color 0.3s ease;
}
.cart-btn a i:hover {
  color: gray;
}
/* navbar */

/*sets default img size*/
img {
  height: 100px;
}

.wishlist-container,
.cart-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.wishlist-container a,
.cart-container a{

    text-decoration: none;
}


.wishlist-layout,
.cart-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.wishlist-items,
.cart-items {
  flex: 2;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
}
.wishlist-item,
.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
  border-bottom: none;
}
.wishlist-item img,
.cart-item img {
  width: 150px;
  height: auto;
  border-radius: 8px;
  margin-right: 15px;
}
.wishlist-details,
.cart-details {
  text-decoration: none;
}

.cart-details p {
  margin: 5px 0;
}

.cart-details form {
  display: inline-block; /* Align buttons horizontally */
  margin-right: 10px; /* Add spacing between buttons */
}

.cart-details .buttons-container {
  display: flex; /* Use flexbox for horizontal alignment */
  gap: 10px; /* Space between buttons */
  margin-top: 10px; /* Space above buttons */
}


.cart-details form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 15px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-transform: uppercase;
  font-weight: bold;
}

.cart-details form button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.cart-details form .remove-btn {
  background-color: #dc3545;
}

.cart-details form .remove-btn:hover {
  background-color: #c82333;
}

.checkout-summary {
  flex: 1;
  background: #f7f7f7;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.checkout-summary h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.checkout-summary p {
  font-size: 1rem;
  margin: 10px 0;
}

.checkout-btn,
.paypal-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.checkout-btn {
  background-color: #28a745;
  color: white;
}

.checkout-btn:hover {
  background-color: #218838;
  transform: scale(1.05);

}

.paypal-btn {
  background-color: #0070ba;
  color: white;
}

.paypal-btn:hover {
  background-color: #005ea6;
  transform: scale(1.05);
}

.discount-code {
  text-align: left;
  border-radius: 4px;
}
.discount-code input {
  padding-left: 10px;
  height: 30px;
  width: 200px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Merriweather", serif;
  }
  /* top navbar */
  .top-navbar {
    display: flex;
    justify-content: space-between;
  }
  .top-navbar p {
    margin-top: 13px;
    margin-left: 15px;
  }
  .top-navbar .icons {
    margin-top: 13px;
    margin-right: 15px;
  }
  .top-navbar a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }
  .top-navbar a img {
    margin-bottom: 3px;
  }
  .top-navbar a:hover {
    color: black;
  }
  @media screen and (max-width: 400px) {
    .top-navbar a {
      font-size: 13px;
    }
    .top-navbar a img {
      width: 15px;
    }
    .top-navbar p {
      font-size: 13px;
    }
  }
  @media screen and (max-width: 320px) {
    .top-navbar a {
      font-size: 10px;
    }
    .top-navbar a img {
      width: 13px;
    }
    .top-navbar p {
      font-size: 10px;
    }
  }
  @media screen and (max-width: 318px) {
    .top-navbar a {
      font-size: 8px;
      margin-left: 0;
    }
    .top-navbar a img {
      width: 10px;
      margin-left: 0;
    }
    .top-navbar p {
      font-size: 10px;
      margin-top: 20px;
    }
  }
  /* top navbar */

  /* navbar */
  #navbar {
    background-color: #e5e7e9;
  }
  #logo {
    margin-left: 15px;
    color: #212f3d;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  #logo span {
    color: #212f3d;
  }
  #logo #span1 {
    font-size: 30px;
  }
  .logo-img {
    height: 50px;
    margin-right: 10px;
  }
  .navbar-nav {
    margin-left: 20px;
  }
  .nav-item {
    margin-left: 10px;
  }
  .nav-item .nav-link {
    color: #212f3d;
    margin-left: 2px;
    text-shadow: 0px 0px 1px black;
    transition: 0.5s ease;
  }
  .nav-item .nav-link:hover {
    color: #212f3d;
  }
  .dropdown-menu li a {
    color: white;
    transition: 0.5s ease;
  }

  #search input {
    border-radius: 50px;
    border: none;
  }
  #search button {
    border-radius: 50px;
    color: white;
    border: 1px solid #212f3d;
    background-color: #212f3d;
  }
  .cart-btn a i {
    padding-left: 10px;
    font-size: 20px;
    color: #212f3d;
    transition: color 0.3s ease;
  }
  .cart-btn a i:hover {
    color: gray;
  }
  /* navbar */

  /* home content */
  .home {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
  }
  .home .img {
    flex: 1 1 300px;
  }
  .home .img img {
    margin-top: 30px;
    width: 100%;
  }
  .home .content {
    flex: 1 1 400px;
    margin-top: 20px;
  }
  .content h1 {
    color: #212f3d;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
  }
  .content h1 span {
    color: #212f3d;
    text-shadow: 1px 1px 1px black;
  }
  #span2 {
    color: #e5e7e9;
  }
  .content p {
    margin-left: 23px;
  }
  .btn {
    margin-left: 13px;
  }
  .btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: #212f3d;
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .btn button:hover {
    background-color: #e5e7e9;
    color: black;
    border: none;
  }

  @media screen and (max-width: 1200px) {
    .home {
      height: 90vh;
    }
  }
  @media screen and (max-width: 799px) {
    .home {
      height: 140vh;
    }
  }
  @media screen and (max-width: 550px) {
    .home {
      height: 110vh;
    }
  }
  @media screen and (max-width: 420px) {
    .content h1 {
      font-size: 45px;
    }
  }
  @media screen and (max-width: 320px) {
    .content h1 {
      font-size: 36px;
    }
  }

  /* product cards */
  #product-cards {
    margin-top: 100px;
  }
  #product-cards h1 {
    color: #e5e7e9;
    text-shadow: 1px 1px 1px black;
    border-bottom: 2px solid #e5e7e9;
  }
  #product-cards .card h3 {
    font-size: 20px;
    color: black;
  }
  #product-cards .card p {
    font-size: 12px;
    margin-top: 5px;
    color: black;
  }
  .star i {
    margin-left: 5px;
    font-size: 13px;
  }
  .checked {
    color: #e5e7e9;
  }
  #product-cards .card h2 {
    font-size: 20px;
    color: black;
    margin-top: 20px;
  }
  #product-cards .card h2 span {
    float: right;
    color: black;
    cursor: pointer;
  }
  @media screen and (max-width: 1000px) {
    #product-cards .card h3 {
      font-size: 15px;
    }
  }

  /* other cards */
  #other-cards {
    margin-top: 30px;
  }
  #other-cards .card {
    background-color: #a9a9a92b;
  }
  #other-cards .card h3 {
    margin-top: 30px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  #other-cards .card h5 {
    margin-top: 15px;
    font-weight: 100;
    font-size: 18px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
    border-bottom: 2px solid black;
    width: 220px;
  }
  #other-cards .card p {
    margin-top: 10px;
    font-weight: 100;
    font-size: 15px;
    color: black;
    margin-left: 10px;
    letter-spacing: 3px;
  }
  #shopnow {
    width: 130px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
    letter-spacing: 3px;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  @media screen and (max-width: 1000px) {
    #other-cards .card h3 {
      margin-top: 5px;
      font-size: 20px;
    }
    #other-cards .card h5 {
      margin-top: 5px;
      font-size: 15px;
    }
    #other-cards .card p {
      margin-top: 0px;
    }
    #shopnow {
      margin-top: 0px;
      width: 120px;
      height: 30px;
      font-size: 16px;
    }
  }
  /* other cards */

  /* banner */
  .banner {
    margin-top: 60px;
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #a9a9a92b;
    z-index: 0;
  }
  .banner .img {
    flex: 1 1 300px;
  }
  .banner .img img {
    margin-top: 30px;
    width: 100%;
  }
  .banner .content {
    flex: 1 1 400px;
    margin-top: 20px;
  }
  .banner .content h1 {
    color: #212f3d;
    font-weight: bold;
    margin-left: 23px;
    font-size: 55px;
    text-shadow: -1px 1px 1px black;
  }
  .banner .content h1 span {
    color: #212f3d;
    text-shadow: 1px 1px 1px black;
  }
  #span2 {
    color: #a93226;
  }
  .banner .content p {
    margin-left: 23px;
  }
  .btn {
    margin-left: 13px;
  }
  .btn button {
    width: 150px;
    height: 32px;
    letter-spacing: 3px;
    background-color: rgb(67 0 86);
    color: white;
    border-radius: 5px;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .btn button:hover {
    background-color: #ffc800;
    color: black;
    border: none;
  }
  @media screen and (max-width: 1200px) {
    .banner {
      height: 90vh;
    }
  }
  @media screen and (max-width: 799px) {
    .banner {
      height: 140vh;
    }
  }
  @media screen and (max-width: 550px) {
    .banner {
      height: 110vh;
    }
  }
  @media screen and (max-width: 420px) {
    .banner .content h1 {
      font-size: 45px;
    }
  }
  @media screen and (max-width: 320px) {
    .banner .content h1 {
      font-size: 36px;
    }
  }
  /* banner */

  /* other cards */
  #other {
    margin-top: 50px;
  }
  #other .card {
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  #other .card h3 {
    margin-top: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
  }
  #other .card p {
    margin-top: 10px;
    color: white;
    text-shadow: 0px 1px 1px black;
    letter-spacing: 3px;
    font-weight: bold;
  }
  /* other cards */

  /* offer */
  #offer {
    margin-top: 100px;
  }
  #offer i {
    font-size: 32px;
    color: black;
  }
  /* offer */

  /* newslater */
  #newslater {
    margin-top: 100px;
  }
  #newslater h3 {
    font-size: 25px;
    letter-spacing: 3px;
  }
  .input {
    margin-top: 30px;
  }
  .input input {
    width: 350px;
    height: 36px;
    letter-spacing: 2px;
    border-radius: 3px;
    border: 1px solid black;
    padding-left: 5px;
  }
  #subscribe {
    width: 200px;
    height: 36px;
    margin-left: 10px;
    border-radius: 3px;
    border: none;
    background-color: #212f3d;
    color: white;
    letter-spacing: 3px;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
  }
  @media screen and (max-width: 465px) {
    .input input {
      width: 280px;
    }
    #subscribe {
      margin-top: 10px;
    }
  }
  @media screen and (max-width: 250px) {
    .input input {
      width: 150px;
    }
    #subscribe {
      width: 150px;
    }
  }
  /* newslater */

  /* footer */
  #footer {
    padding: 0 0 30px 0px;
    color: white;
    font-size: 14px;
    background-color: #212f3d;
    margin-top: 100px;
  }
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background-color: #212f3d;
    color: white;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h3 {
    color: #ffc800;
  }
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: white;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
    margin-top: 10px;
  }
  #footer .footer-top .footer-links h4 {
    color: #ffc800;
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li a {
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 1;
    font-weight: bold;
    transition: 0.5s ease;
  }
  #footer .footer-top .footer-links ul li a:hover {
    color: #ffc800;
  }
  #footer .footer-top .socail-links a {
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    background-color: #373737;
    color: white;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    transition: 0.5s ease;
  }
  #footer .footer-top .socail-links a:hover {
    background-color: #ffc800;
    color: white;
  }
  #footer .copyright {
    text-align: center;
    float: left;
  }
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
  }
  #footer .credits a {
    color: #ffc800;
  }
  /* footer */

  html {
    scroll-behavior: smooth;
  }
  .arrow {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 50px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
  }

  /* login */
  #login {
    width: 65%;
    height: 70vh;
    background-color: rgb(67 0 86);
    margin-top: 35px;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  }
  #side1 h3 {
    color: #ffc800;
    font-weight: bold;
    margin-top: 200px;
  }
  #side2 {
    background-color: white;
    height: 70vh;
    border-radius: 10px;
  }
  #side2 h3 {
    margin-top: 30px;
    color: #ffc800;
    font-weight: bold;
    text-shadow: 0px 1px 1px black;
  }
  .input2 input {
    margin-top: 15px;
    width: 300px;
    border: none;
    border-bottom: 2px solid #ffc800;
  }
  .input2 input ::placeholder {
    font-weight: bold;
  }
  #btnlogin {
    padding-top: 10px;
  }
  #btnlogin a {
    padding: 10px;
    text-decoration: none;
    border-radius: 15px;
    background-color: #ffc800;
    color: white;
    font-weight: bold;
    border: none;
    text-shadow: 0px 0px 1px black;
  }
  #side2 p {
    margin-top: 10px;
  }
  @media screen and (max-width: 991px) {
    .input2 input {
      width: 250px;
    }
  }
  @media screen and (max-width: 765px) {
    .input2 input {
      width: 260px;
    }
    #side2 {
      height: 60vh;
    }
  }
  /* login */

  /* about */
  #about {
    margin-top: 30px;
  }
  #about h3 {
    font-weight: bold;
    color: #ffc800;
    text-shadow: 0px 1px 1px black;
  }
  #about button {
    width: 150px;
    height: 36px;
    color: white;
    background-color: rgb(67 0 86);
    border-radius: 5px;
    cursor: pointer;
  }
  /* about */

  /* contact */
  #contact {
    margin-top: 50px;
  }
  #contact .card {
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  #contact .card i {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
  }
  #contact .card h6 {
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: rgb(67 0 86);
  }
  .messagebtn button {
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid rgb(67 0 86);
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
    cursor: pointer;
  }
  .messagebtn button:hover {
    background-color: rgb(67 0 86);
    color: white;
  }
  /* contact */
