@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h3 {
    font-size: 30px;
    line-height: 36px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h5 {
    font-size: 16px;
    color: #222;
}

h6 {
    font-size: 12px;
    color: #222;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: #f0f8ff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}
#Navbar{
display: flex;
align-items: center;
justify-content: center;



}

#Navbar li{
    list-style: none;
    padding: 0 15px;
}

#Navbar li a{
text-decoration: none;
font-size: 13;
font-weight:600;
color:#465b52;
transition: 0.4s ease;

}
#Navbar li a:hover{
    color:black;
    
    
    
}
#Navbar li a.active{
    color:black
}
#Navbar li a.active::after{
    content: '';
    height: 2px;
    width: 100%;
    background: black;
    display: block;
    opacity:0;
    transition:all 0.2s;
}
#Navbar li a:hover:after{
    opacity:1;
}
footer{
    display:flex;
    flex:wrap;
    justify-content: space-between;
    background-color: #ffffff;
    padding:20px,20px;
    margin:20px;
}

footer .column {
    
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:10px;


}
footer .column a{
    font-size: 14px;
    text-decoration: none;
    margin:0;
    color:#222;
    


}


footer .paymentphoto{
display: flex;
flex-direction: row;

}
footer .paymentmethods {
    display: flex;
    gap: 10px;
    align-items: center; 
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;;


}

footer p{

    font-size:14px;
    margin:0 0 8px 0;
}

footer .followus {
    margin-top: 20px;
}

footer .followus .icon{
    margin: 0;
    display:flex;
    gap:15px;
}
footer .followus .icon i{
    margin-top:0;
    font-size:30px;
}
body{
    background-image: url(../../categoryimages/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.tvsection {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    justify-items: center;
    align-items: start;
}

.tvcards {

background-color:white;
width:270px;;
height:290px;
margin:15px;
border-radius: 35px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
transition: transform 0.5s ease-in-out;


}


 .tvimages{
    width:100%;
    height:250px;
    margin-bottom:10px;
    background-size: cover;
    background-position: center; 
    border-radius: 30px 30px 0 0; 
    overflow: hidden; 
 }

.hd40 {
    background-image: url(TVs/40inch/HD-40-Black.webp);
}
.i4k40 {
    background-image: url(TVs/40inch/4K-40-Black.webp);
}
.hd60 {
    background-image: url(TVs/60inch/HD-60-Black.webp);
}
.i4k60 {
    background-image: url(TVs/60inch/4k-60-Black.webp);
}
.ihd80 {
    background-image: url(TVs/80inch/HD-80-Black.webp);
}
.i4k80 {
    background-image: url(TVs/80inch/4k-80-Black.webp);
}

.tvcards:hover {
    cursor:pointer;
    transform:scale(1.05);
}

#details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 30px 30px 30px 30px;
    gap: 20px;
}

.mainimage {
    width:220%;
}

.mainimage img{
    width:100%;
    border-radius: 30px;
    border: 5px solid white;
    cursor: pointer;
    margin-right: 40px;


}

.secimages {
    display: flex;
    justify-content: center;
    margin: 20px auto 0;
    gap: 15px;
   
}

.secimagescols{
    flex-basis: 30%;
    opacity:0.5; 
    transition: opacity 0.3s ease, transform 0.5s ease-in-out;
}

.secimagescols:hover{
    cursor:pointer;
    transform:scale(1.05);
    opacity:1;
}

#details .maindescirption{
width:50%;

}
#details .maindescirption h4{
    padding: 40px 0 20px 0;
    
    }
    #details .maindescirption h2{
        padding: 40px 0 20px 0;
        font-size:28px;
        }

        #details .maindescription select {
            padding: 8px 12px;
            font-size: 16px;
            color: #333;
            background-color:white;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
        }

        #details input[type="number"] {
            padding: 8px 12px;
            font-size: 16px;
            color: #333;
            background-color:white;
            border: 1px solid #ccc;
            border-radius: 5px;
            width:60px
        }

        #details h2 del {
            color: #888;
            opacity: 0.7;
            margin-left: 5px;
        }

        #details .cartclass {
            padding: 8px 12px;
            font-size: 16px;
            color: #333;
            background-color:white;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: opacity 0.3s ease, transform 0.5s ease-in-out;
        }
        #details .cartclass:hover{
            cursor:pointer;
            transform:scale(1.01);
            opacity:1;
            background-color:white;
        }

        